.resizable-container {
  position: relative;
  box-sizing: border-box;
  &:last-child {
    .resizable-handler {
      right: -2px;
    }
  }
}

.resizable-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-clip: padding-box;
}

.resizable-handler {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -4px;
  z-index: 1;
  width: 8px;
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: col-resize;
  &:active,
  &:hover {
    z-index: 5;
    cursor: col-resize;
    & .resizable-line {
      background: var(--line-color, #b6b7b9);
      pointer-events: none;
    }
  }
}

.resizable-line {
  width: 4px;
  height: 100%;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.resizable-title {
  position: relative;
  z-index: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
